<!doctype html>
<html>
  <head>
    <title>Dependency Manager</title>
  </head>

  <body>
    <div id="app"></div>

    <script type="text/template" id="edit-template">
      <%- include templates/edit.ejs %>
    </script>

    <script type="text/template" id="edit-deps-template">
      <%- include templates/edit-deps.ejs %>
    </script>

    <script>
      var dependenciesData = <%- dependencies %>;
    </script>
    <script src="/js/build/app.js"></script>
  </body>
</html>
