<!doctype html>
<html>
  <head>
    <title>Dependency Manager</title>
  </head>

  <body>
    <ul id="graph"></ul>

    <script>
      var dependenciesData = <%- dependencies %>;
    </script>
    <script src="/js/build/app.js"></script>
  </body>
</html>
