<h1>Editing</h1>

<button class="close">Close</button>

<form>
  <fieldset>
    <legend>Library Properties</legend>

    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" class="required" value="{{name}}">
    </div>
      
    <div>
      <label for="version">Version:</label>
      <input type="text" id="version" name="version" class="required" value="{{version}}">
    </div>
  </fieldset>

  <fieldset>
    <legend>Manage Dependencies</legend>

    <div>
      <label for="filter">Filter:</label>
      <input type="text" id="filter" name="filter" autocomplete="off">
    </div>

    <input type="hidden" name="deps-to-delete" id="deps-to-delete">
      
    <ul class="edit-deps">
    </ul>

    <div>
      <label for="add-name">Add:</label>
      <input type="text" id="add" name="add">
    </div>
  </fieldset>

  <fieldset>
    <input id-"save" type="submit" value="Save">
  </fieldset>
