<span class="name">{{name}} {{version}}</span> 

<input type="checkbox" data-dep-cid="{{depCid}}" id="delete-{{name}}" name="delete-{{name}}" class="delete">

<label for="delete-{{name}}">Delete</label>
